version: '3.8'

services:
  # 1. Database
  postgres-db:
    image: postgres:15-alpine
    container_name: smart_garden_db
    restart: always
    environment:
      POSTGRES_USER: garden_user
      POSTGRES_PASSWORD: garden_password
      POSTGRES_DB: smart_garden_db
    ports:
      - "5433:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data

  # 2. MQTT Broker
  mosquitto:
    image: eclipse-mosquitto
    container_name: mqtt_broker
    ports:
      - "1883:1883"
      - "9001:9001"
    volumes:
      - ./mosquitto/config:/mosquitto/config
      - ./mosquitto/data:/mosquitto/data
      - ./mosquitto/log:/mosquitto/log
    command: >
      sh -c "echo 'listener 1883' > /mosquitto/config/mosquitto.conf &&
             echo 'allow_anonymous true' >> /mosquitto/config/mosquitto.conf &&
             /usr/sbin/mosquitto -c /mosquitto/config/mosquitto.conf"

  # 3. BACKEND
#  backend:
#    build: .  # Dấu chấm nghĩa là tìm Dockerfile ở thư mục hiện tại
#    container_name: smart_garden_backend
#    restart: always
#    ports:
#      - "8080:8080" # Map port API ra ngoài
#    depends_on:
#      - postgres-db # Đợi DB chạy xong mới chạy backend
#      - mosquitto
#    environment:
#      # GHI ĐÈ cấu hình trong application.properties
#      # Thay 'localhost' bằng tên service 'postgres-db' và 'mosquitto'
#      SPRING_DATASOURCE_URL: jdbc:postgresql://postgres-db:5432/smart_garden_db
#      SPRING_DATASOURCE_USERNAME: garden_user
#      SPRING_DATASOURCE_PASSWORD: garden_password
#      # Cấu hình MQTT Broker URL (Nếu bạn không dùng biến môi trường trong code thì phải sửa file properties)
#      # Nhưng tốt nhất nên dùng biến môi trường SPRING_... để linh hoạt

volumes:
  postgres_data: