@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  /* Mặc định của trình duyệt là 16px.
     - Muốn tăng 1.5 lần (To vừa) -> Đặt 24px
     - Muốn tăng Gấp đôi (Rất to) -> Đặt 32px
  */
  font-size: 24px; 
}

/* Ép các Icon (Lucide) to theo tỉ lệ chữ */
svg.lucide {
  width: 1.5em !important; 
  height: 1.5em !important;
}

* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}

.animate-in {
  animation-fill-mode: both;
}